.plunker-hide-banners .version-switcher {
    display: none;
}

.plunker-hide-banners sidebar-footer {
    display: none;
}

.plunker-hide-banners .plunker-edit-footer {
    display: none;
}

.plunker-hide-banners .plunker-embed-footer {
    display: none;
}

.plunker-hide-sidebar .plunker-sidebar-selectors {
    display: none;
}

.plunker-hide-sidebar .plunker-sidebar-panes {
    display: none;
}